header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  height: 20vmin;
}

h1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500px;
  color: #09090a;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

main > div {
  padding: 1.5rem;
  margin: 1rem 0;
}

.item {
  width: 340px;
}

.item > h3 {
  font-size: 16px;
  color: #09090a;
  margin: 0.5rem;
  padding: 0.5rem;
}

.item > p {
  text-align: justify;
  font-size: 17px;
  color: #414040;
}

.cart {
  text-align: center;
  width: 27px;
  height: 27px;
  padding: 0.4rem;
  background-color: #fefdff;
  border-radius: 50%;
}

.background-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vmin;
  height: 10vmin;
  background-color: #ff8a00;
  border-radius: 15px;
  margin: 0.5rem 0.5rem;
  padding: 0 1rem;
}
.background-price > p {
  font-size: 20px;
  font-weight: 600;
}

.product-img{
  display: flex;
  justify-content: center;

}
.product-img h5{
  font-size: 14px;
  font-weight: 600;
  color: #09090ad8;
}
.product-img img{
  display: flex;
  width: 50vmin;
  object-fit: cover;
}
